/* This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. 
 * If a copy of the MPL was not distributed with this file, 
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 */
/*
 * WDStyleGuide Template CSS  
 *
 * Use this as a template to format the styles of specific projects. Most of 
 * the most commonly used classes/rules are already written here. The file is
 * divided in the following sections:
 *
 *    Fonts
 *    Style Resets
 *    1. BACKGROUND 
 *    2. HEADER 
 *    3. FILTER CELLS
 *    4. DATA CELLS
 *    5. TABLES
 *    6. CHARTS 
 *    7. SELECTORS AND BUTTONS
 *    8. SITE MAP
 *    Other 
 *    Project Specific Items  
 *
 */


/* =============================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}



/* =============================================================================
   Style Resets
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
        /* font-family: Open Sans, Arial, sans-serif; */
  }





/* =============================================================================
   1. BACKGROUND 
   ========================================================================== */

/* Window Background */
body{
  font-family: 'OpenSansLight', 'Helvetica Neue', Arial, sans-serif;
  /* background: #EBEDEE; */

  color: #333e48;
  /* padding-top: 50px; */
  overflow-y: scroll;
  /* background: url('../img/bg_page.png') repeat-x top left; */
  background-color: transparent;

}
/* Dashboard Background / Blueprint Container */
div.container  {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.container *{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* =============================================================================
   2. HEADER 
   ========================================================================== */
.WDheader {
  padding: 15px 0 10px 0;
  text-align: left;
  font-size: 16px;
  font-family: 'OpenSansLight';
  border-bottom: 1px solid #ccdee9;
  color: #3d6380;
}

.WDh1 {}
.WDh2 {}



/* =============================================================================
   3. FILTER CELLS
   ========================================================================== */

/* Filter Cells */
.WDfilterCell {
}

/* Filter Cells header */
.WDfilterCellHeader{
}


/* Filter Cells body */
.WDfilterCellBody{
}
.no-svg .WDfilterCellBody{
}
.svg  .WDfilterCellBody{
}

.WDfilterCellBody *{
}


/********** FILTER ELEMENTS *********/

.WDfilterCell select{
}

.WDfilterCellBody button {

}
.no-svg .WDfilterCellBody button {
}
.svg .WDfilterCellBody button {
}

.WDfilterCellBody button:hover {
}
.WDfilterCellBody button span {
}


/* Multi Button */
.WDfilterCellBody .pentaho-toggle-button {

}
.no-svg .WDfilterCellBody .pentaho-toggle-button {
}
.svg .WDfilterCellBody .pentaho-toggle-button {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-first {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-last {
}
.WDfilterCellBody .pentaho-toggle-button:hover,
  .WDfilterCellBody .pentaho-toggle-button:hover button{
  }
.WDfilterCellBody .pentaho-toggle-button-down {

}
.no-svg .WDfilterCellBody .pentaho-toggle-button-down {
}
.svg .WDfilterCellBody .pentaho-toggle-button-down {
}

.WDfilterCellBody .pentaho-toggle-button button {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-last button {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-first button {
}
.WDfilterCellBody .pentaho-toggle-button-down button {
}


/**** Chosen Select *****/
/* All Chosen elements */
.WDfilterCellBody .chzn-container{
}
.WDfilterCellBody .chzn-container * {
}
.WDfilterCellBody .chzn-container-active{
}
.WDfilterCellBody .chzn-drop{
}
.WDfilterCellBody .chzn-drop  .chzn-search{
}
.WDfilterCellBody .chzn-drop .chzn-search input{
}
.WDfilterCellBody .chzn-drop  .chzn-results{
}
.WDfilterCellBody .chzn-drop  .chzn-results li{

}
.WDfilterCellBody .chzn-drop .chzn-results em{
}
.WDfilterCellBody .chzn-drop  .chzn-results .active-result{
}
.WDfilterCellBody .chzn-drop  .chzn-results .highlighted{
}
.WDfilterCellBody .chzn-drop  .chzn-results .result-selected{
}
.WDfilterCellBody .chzn-drop  .chzn-results .no-results {
}

/* Single Select */
.WDfilterCellBody .chzn-container-single .chzn-single{
}
.no-svg  .WDfilterCellBody .chzn-container-single .chzn-single{
}

.svg  .WDfilterCellBody .chzn-container-single .chzn-single{

}
.WDfilterCellBody .chzn-container-single:hover .chzn-single{
}

.WDfilterCellBody .chzn-container-single .chzn-single span{
}
.WDfilterCellBody .chzn-container-single .chzn-single div{ /* Arrow container */
}
.WDfilterCellBody .chzn-container-single .chzn-single div b,
  .WDfilterCellBody .chzn-container-single .chzn-single-with-drop div b{ /* Arrow */
  }
.WDfilterCellBody .chzn-container-single:hover .chzn-single div b,
  .WDfilterCellBody .chzn-container-single:hover .chzn-single-with-drop div b{ /* Arrow */
  }
.WDfilterCellBody .chzn-container-single .chzn-single.chzn-single-with-drop{
}
.WDfilterCellBody .chzn-container-single .chzn-single-with-drop span{
}
.WDfilterCellBody .chzn-container-single .chzn-single-with-drop div{ /* Arrow container */
}
.WDfilterCellBody .chzn-container-single .chzn-single-with-drop div b{
} 


/* Multi Select */
.WDfilterCellBody .chzn-container-multi.chzn-container{
}
.WDfilterCellBody .chzn-container-multi .chzn-drop{
}
.WDfilterCellBody .chzn-container-multi .chzn-drop .selectTooltipTriangle{
}
.WDfilterCellBody .chzn-container-multi .chzn-drop  .chzn-results{
}

.WDfilterCellBody .chzn-container-multi .chzn-choices {
}
.WDfilterCellBody .chzn-container-multi:hover .chzn-choices,
  .WDfilterCellBody .chzn-container-multi.chzn-container-active .chzn-choices{
  }
.WDfilterCellBody .chzn-container-multi .chzn-choices  .search-choice {

}
.no-svg   .WDfilterCellBody .chzn-container-multi .chzn-choices  .search-choice {
}
.svg   .WDfilterCellBody .chzn-container-multi .chzn-choices  .search-choice {
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-choice span{
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-choice .search-choice-close{
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-field input{
}



/* =============================================================================
   4. DATA CELLS
   ========================================================================== */

/* Data Cells */
.WDdataCell {
}  

/* Data Cells header*/
.WDdataCellHeader{

}
.no-svg   .WDdataCellHeader {
}
.svg   .WDdataCellHeader {
}

/* Data Cells body */
.WDdataCellBody {
}

/* =============================================================================
   5. TABLES
   ========================================================================== */

.WDdataCellBody table {}


/* Header */
.WDdataCellBody  thead {}
.WDdataCellBody thead tr {

}
.WDdataCellBody  thead th {

}
.WDdataCellBody thead th.sorting{
}
.WDdataCellBody thead th.sorting_asc{
}
.WDdataCellBody  thead th.sorting_desc{
}
.WDdataCellBody  thead th:first-child {
}

/* Body */
.WDdataCellBody  tbody {}
.WDdataCellBody  tbody tr {
}
.WDdataCellBody  tbody td{
}
.WDdataCellBody  tbody td,
  .WDdataCellBody  tbody td.numeric, 
  .WDdataCellBody  tbody td.string {
  }

/* Footer */
.WDdataCellBody  tfoot {
}
.WDdataCellBody  tfoot tr {
}
.WDdataCellBody  tfoot td{
}
.WDdataCellBody  tfoot tr:first-child td{
}
.WDdataCellBody  tfoot tr:last-child td{
}
.WDdataCellBody  tfoot td{
}



/* DataTables */
.WDdataCellBody  .dataTables_wrapper{
}
.WDdataCellBody  .dataTables_wrapper tbody tr.odd td.sorting_1,
  .WDdataCellBody  .dataTables_wrapper tbody tr.odd{
  }
.WDdataCellBody  .dataTables_wrapper tbody tr.even td.sorting_1,
  .WDdataCellBody  .dataTables_wrapper tbody tr.even{
  }

/* Pagination and Page Info */

.WDdataCellBody   .dataTables_info{    
}

.WDdataCellBody  .dataTables_paginate{
}
.WDdataCellBody  .dataTables_paginate > span {
}
.WDdataCellBody  .dataTables_paginate > input {
}
.WDdataCellBody   .dataTables_paginate .paginate_button {
}
.WDdataCellBody  .dataTables_paginate .paginate_button.first,
  .WDdataCellBody   .dataTables_paginate .paginate_button.last {
  }
.WDdataCellBody   .dataTables_paginate .paginate_button.previous {
}
.WDdataCellBody  .dataTables_paginate .paginate_button.next {
}
.WDdataCellBody   .dataTables_paginate .paginate_page {
}
.WDdataCellBody   .dataTables_paginate .paginate_of {
}

.WDdataCellBody   .dataTables_paginate .paginate_enabled_next {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous{
}
.WDdataCellBody   .dataTables_paginate .paginate_disabled_next {
}
.WDdataCellBody   .dataTables_paginate .paginate_disabled_previous {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_next:hover {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous:hover {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_next:active {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous:active {
}
.WDdataCellBody   .dataTables_paginate .paginate_disabled_previous,
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous, 
.WDdataCellBody   .dataTables_paginate .paginate_disabled_next, 
.WDdataCellBody  .dataTables_paginate .paginate_enabled_next {
}

/* Add Ins */
.WDdataCellBody td .trend,
.WDdataCellBody th .trend{
}
.WDdataCellBody  tfoot td .trend{
}
.WDdataCellBody  tfoot td .trend.down,
.WDdataCellBody  tbody td .trend.down,
.WDdataCellBody  thead th .trend.down {
}
.WDdataCellBody  tfoot td .trend.up,
.WDdataCellBody  tbody td .trend.up,
.WDdataCellBody  thead th .trend.up {
}
.WDdataCellBody  tfoot td .trend.neutral,
.WDdataCellBody  tbody td .trend.neutral,
.WDdataCellBody  thead th .trend.neutral {
}



/* =============================================================================
   6. CHARTS 
   ========================================================================== */




/* =============================================================================
   7. SELECTORS AND BUTTONS 
   ========================================================================== */
.WDfilterCell select{
}

button {
cursor: pointer;
border: none;
}
.no-svg   button {
}
.svg   button {
}

button:hover {
}
button span {
}


/* Multi Button */
.pentaho-toggle-button {

}
.no-svg .pentaho-toggle-button {
}
.svg .pentaho-toggle-button {
}
.pentaho-toggle-button-horizontal-first {
}
.pentaho-toggle-button-horizontal-last {
}
.pentaho-toggle-button:hover,
.pentaho-toggle-button:hover button{
  }
.pentaho-toggle-button-down {

}
.no-svg .pentaho-toggle-button-down {
}
.svg .pentaho-toggle-button-down {
}

.pentaho-toggle-button button {
}
.pentaho-toggle-button-horizontal-last button {
}
.pentaho-toggle-button-horizontal-first button {
}
.pentaho-toggle-button-down button {
}

/**** Chosen Select *****/
/* All Chosen elements */
.chzn-container{
}
.chzn-container * {
}
.chzn-container-active{
}
.chzn-drop{
}
.chzn-drop  .chzn-search{
}
.chzn-drop .chzn-search input{
}
.chzn-drop  .chzn-results{
}
.chzn-drop  .chzn-results li{

}
.chzn-drop .chzn-results em{
}
.chzn-drop  .chzn-results .active-result{
}
.chzn-drop  .chzn-results .highlighted{
}
.chzn-drop  .chzn-results .result-selected{
}
.chzn-drop  .chzn-results .no-results {
}

/* Single Select */
.chzn-container-single .chzn-single{
}
.no-svg    .chzn-container-single .chzn-single{
}

.svg    .chzn-container-single .chzn-single{

}
.chzn-container-single:hover .chzn-single{
}

.chzn-container-single .chzn-single span{
}
.chzn-container-single .chzn-single div{ /* Arrow container */
}
.chzn-container-single .chzn-single div b,
  .chzn-container-single .chzn-single-with-drop div b{ /* Arrow */
  }
.chzn-container-single:hover .chzn-single div b,
  .chzn-container-single:hover .chzn-single-with-drop div b{ /* Arrow */
  }
.chzn-container-single .chzn-single.chzn-single-with-drop{
}
.chzn-container-single .chzn-single-with-drop span{
}
.chzn-container-single .chzn-single-with-drop div{ /* Arrow container */
}
.chzn-container-single .chzn-single-with-drop div b{
} 


/* Multi Select */
.chzn-container-multi.chzn-container{
}
.chzn-container-multi .chzn-drop{
}
.chzn-container-multi .chzn-drop .selectTooltipTriangle{
}
.chzn-container-multi .chzn-drop  .chzn-results{
}

.chzn-container-multi .chzn-choices {
}
.chzn-container-multi:hover .chzn-choices,
  .chzn-container-multi.chzn-container-active .chzn-choices{
  }
.chzn-container-multi .chzn-choices  .search-choice {

}
.no-svg    .chzn-container-multi .chzn-choices  .search-choice {
}
.svg    .chzn-container-multi .chzn-choices  .search-choice {
}
.chzn-container-multi .chzn-choices .search-choice span{
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close{
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
}
.chzn-container-multi .chzn-choices .search-field input{
}



/* =============================================================================
   8. SITE MAP
   ========================================================================== */

.WDsiteMap {}



/* =============================================================================
   Other 
   ========================================================================== */



/* =============================================================================
   Project Specific Items 
   ========================================================================== */


.sre-panel
{
  background: #ffffff;
  border: 1px solid #ccdee9;
  margin-top: 45px;
}


.WDheader-marker{
  width: 200px;
  height: 4px;
  background: #fcc809;
  margin:0;
  padding:0;
}

.mainBlock{
  margin: 30px;
  margin-top: 0px;
}

.sre-usage{
  color: #3d5380;
  font-size: 12px;
}
.instructions{
  padding-top: 10px;
}

.sre-usage kbd{
  font-family: 'OpenSansSemiBold';
  font-weight: normal;
}

.actionButtons{
  float: right;
  /* padding-right: 5px; */
}


.refreshButton,
.infoButton
{
  float: right;
}
.refreshButton button{
  height:20px;
  width:20px;
  background: url('../img/refresh-normal.png') 0 1px no-repeat;
  margin-right: 10px;
}
.refreshButton button:hover{
  background-image: url('../img/refresh-hover.png');
}


.infoButton button
{
  /* display: none; */
  height:20px;
  width:30px;
  /* padding-left: 20px; */
  background: url('../img/info-normal.png') 10px 0 no-repeat;

  /* margin-left: 10px; */
  border-left : 1px solid #ccdee9;
}
.infoButton button:hover
{
  background-image: url('../img/info-hover.png');
}



.dataTables_wrapper {
  min-height: 1px;
  margin-left: 0px;
  margin-right: 0px;
}
.dataTables_wrapper .dataTables_filter{
  display: none;
}

table{
  /* border: none; */
  max-width: 100%;
  min-width: 100%;
  padding-top: 20px;
  /* padding-bottom: 10px; */
  border-collapse:separate;
  border-spacing:0px;
  /* margin-top: 20px; */
  font-family: 'OpenSansLight';
  font-size: 12px;
}
table tbody tr{
  height: 52px;
}

/* Header */
thead tr {
  height: 30px;
}
thead th {
  background: none;
  color: #005fa2; /*#1973BC;*/
  font-family: 'OpenSansLight';
  font-size: 14px;
  text-align: left !important;
  font-weight: normal;
  vertical-align: bottom;
  padding: 5px 12px;
}

thead th:last-child {
  /* text-align: center; */
}


/* Body */
tbody tr:nth-child(even),
tbody tr:nth-child(odd) 
{
  background: #ffffff;
  /* background: linear-gradient(to bottom, #FFFFFF 0%, #F8F8F8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); */
  border: 1px solid #ccdee9;
}

tbody
{
  border: 1px solid #ccdee9;
/* display:block; */
}

tbody td{
  text-align: left;
  color: #333e48;
  font-size: 12px;
  padding: 10px;
  /* padding-right: 0px; */
  font-family: 'OpenSansRegular';
  border:none;
  border-bottom: 1px solid #ccdee9;
}
tbody tr:first-child td{
  border-top: 1px solid #ccdee9;
}
tbody tr td:first-child {
  padding-left: 30px;
  border-left: 1px solid #ccdee9;
}
tbody tr td:last-child {
  border-right: 1px solid #ccdee9;
  padding-right: 30px;
}

tr.even, 
tr.odd
{
  border-spacing:1px;
}

tr.even td.sorting_1 {
  background: none !important;
}

tr.odd td.sorting_1 {
  background: none !important;
}

/* tr.odd:hover, */
/* tr.even:hover */
/* { */
/*     background: none repeat scroll 0 0 #DCE7ED; */
/*     cursor: pointer; */
/* 	-webkit-transition: all 200ms ease-in; */
/* 	-moz-transition: all 200ms ease-in; */
/* 	-o-transition: all 200ms ease-in; */
/* 	transition: all 200ms ease-in;  */
/* } */


.sorting,
.sorting_asc,
.sorting_desc {
  background: none;
  cursor: pointer;
} 

.sorting_asc,
.sorting_desc,
.sorting:hover,
.sorting_asc:hover,
.sorting_desc:hover
{
  color: #00b9f1;
  background: none;
}


th.runKettle
{
  padding-left: 96px;
}

.runKettle span,
.executionStatus span
{
line-height: 32px;
font-family: 'OpenSansSemiBold';
}
.runKettle span
{
padding-left: 30px;
}

.runKettle button
{ 
  width: 35px;
  height:29px;
  /* display: inline; */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  
  margin-top: 2px;
  /* margin-left: 20px; */
  background-color: #007297;
  background: url('../img/play.png') no-repeat 0 0;
  background: url('../img/play.png') no-repeat 0 0, -moz-linear-gradient(top, #007297 49%, #005e7c 100%);
  background: url('../img/play.png') no-repeat 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(49%,#007297), color-stop(100%,#005E7C));
  background: url('../img/play.png') no-repeat 0 0, -webkit-linear-gradient(top, #007297 49%,#005E7C 100%);
  background: url('../img/play.png') no-repeat 0 0, -o-linear-gradient(top, #007297 49%,#005e7c 100%);
  background: url('../img/play.png') no-repeat 0 0, -ms-linear-gradient(top, #007297 49%,#005e7c 100%);
  background: url('../img/play.png') no-repeat 0 0, linear-gradient(to bottom, #007297 49%,#005E7C 100%);
  float: left;
}
.runKettle button:hover
{
  background: #0085B0 url('../img/play.png') no-repeat 0 0;
}


.executionStatus button
{
  width: 26px;
  height: 26px;
  margin-top: 2px;
  background: url('../img/log-normal.png') no-repeat 0 0;
  float: right;
}

.executionStatus button:hover
{
  background: url('../img/log-hover.png') no-repeat 0 0;
}

thead th.checkbox
{
  padding: 5px 0;
}
thead th.column5{
  text-align:center !important;
}
thead th.column6{
  text-align:right !important;
}

th[colspan].checkbox{
  font-weight: lighter;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid #ccdee9;
  color: #333e48;
}

.checkBoxAddIn.checked,
.checkBoxAddIn.unchecked
{
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-color: transparent;
  width: 16px;
  height:16px;
  border:1px solid #30516D;
  /* margin-left: 5px; */

  cursor:pointer;
}

.column4 .checkBoxAddIn{
  margin-left: -2px;
}
.column5 .checkBoxAddIn{
  margin-left: 7px;
}
.column6 .checkBoxAddIn{
  margin-left: 10px;
}
.column7
{
  padding-left: 20px;
}


.checkBoxAddIn:hover
{
  border-color: #15AAED;
}
.checkBoxAddIn.checked
{
  background: url('../img/tick.png') -3px -3px no-repeat;
}
.checkBoxAddIn.unchecked
{
  /* background-image: url('../img/checkbox.png'); */
}


td.formatLastExecution{ 
  font-family: 'OpenSansRegular';
  font-weight: normal;
}

td.formatLastExecution b{ 
  font-family: 'OpenSansSemiBold';
  font-weight: normal;

}


.executionStatus{
  /* margin-left: auto; */
  /* margin-right:auto; */
  padding-right: 10px;
  position: relative;
}
th.executionStatus{
  /* text-align:center; */
}
td.executionStatus{
  font-family:'OpenSansSemiBold';
}
.executionStatus div,
.executionStatus span
{
  padding: 3px 10px;
  /* width: 100%; */
}
.executionStatus.executionStatusSuccess div,
.executionStatus.executionStatusSuccess span
{
  color: #009245;
  border: 1px solid #009245;
}
.executionStatus.executionStatusFailed div,
.executionStatus.executionStatusFailed span
{
  color: #ff0000;
  border: 1px solid #ff0000;
}
.executionStatus button
{
  float: right;
}

.popupComponent
{
  border-width: 2px;
  border-radius: 0;
  padding-right: 7px;
  padding:0;
  /* min-height: 100px; */
  min-width: 200px;
  /* max-width:100%; */
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
.popupComponent h3
{
  padding: 8px;
  font-family:'OpenSansSemiBold';
  font-size: 12px;
  background-color: #ccdee9;
}
.popupComponent .arrow {
  display:none !important;
}
.popupComponent a.close{
  background-image: url('../img/close-normal.png');
  top: 4px;
}
.popupComponent a.close:hover{
  background-image: url('../img/close-hover.png');
}
.popupComponent .sre-info,
.popupComponent .sre-logs{
  /* overflow-y:scroll; */
  /* height: 50%; */
  color:#3b647e;
  font-size: 10px;
  padding: 10px;
}
.popupComponent.executionStatusSuccess {
  border-color: #009245;
}
.popupComponent.executionStatusFailed {
  border-color: #ff0000;
}
.popupComponent.information {
  border-color: #15AAED;
}